<%= turbo_frame_tag 'view_content' do %>
  <div class="header">
    <span>Upload document</span>
  </div>
  <div class='new-folder'>
    <%= render "form", source: @source, folder_id: @folder_id %>
  </div>
<% end %>
