<%= link_to wroom_path(document_id: document.id), data: { turbo_frame: '_top' } do %>
  <div class='tree-document'>
    <span class='icon'><%= document.icon %></span><%= document.title %>
  </div>
<% end %>
