<%= turbo_frame_tag 'view_content' do %>
  <div class="header">
    <span>New folder</span>
  </div>
  <div class='new-folder'>
    <%= render "form", folder: @folder, parent_id: @parent_id %>
  </div>
<% end %>