<h1>Editing wroom project</h1>

<%= render "form", wroom_project: @wroom_project %>

<br>

<div>
  <%= link_to "Show this wroom project", @wroom_project %> |
  <%= link_to "Back to wroom projects", wroom_projects_path %>
</div>
