<h1>Wroom projects</h1>

<div id="wroom_projects">
  <% current_user.wroom_projects.each do |wroom_project| %>
    <p>
      <%= link_to wroom_project.name, wroom_project %>
    </p>
  <% end %>
</div>

<%= link_to "New wroom project", new_wroom_project_path %>
