<% if conversation.status == 1 %>
  <div id="conversation_status" class="present">
    <div class="conversation-hourglass"></div>
    <div class="conversation-loading-label">
      <% if conversation.status_message.present? %>
        <%= conversation.status_message %>
      <% end %>
    </div>  
    <%= link_to('cancel request', cancel_processing_conversation_path(id: conversation.id)) %>
  </div>
<% else %>
  <div id='conversation_status'></div>
<% end %>
