
<%= button_to toggle_context_conversation_path(id: conversation.id, document_id: document.id), method: :patch, form: { id: "tree-document-#{document.id}" } do %>
  <% linked = conversation.documents.include?(document) %>
  <div class='tree-document <%= linked ? 'linked' : '' %>'>
    <% if document.source_based %>
      <i class="fa fa-book fa-fw" aria-hidden="true"></i>
    <% else %>
      <i class="fa fa-file-text-o fa-fw" aria-hidden="true"></i>
    <% end %>
    <%= document.title %>
  </div>
<% end %>
