<%= turbo_stream_from @conversation.id, 'conversation_status' %>
<div id='view-header'>
  <h1><%= @conversation.title %></h1>
  <%= link_to "✍︎", edit_conversation_path %>
</div>
<%= render "conversation", conversation: @conversation %>
