@import '../colors';
@import '../fonts';

div#show-folder {
  padding: 1rem;

  div.folder-controls {
    display: flex;
    a, button {
      margin-right: 1rem;
    }
  }
  div.create-links {
    margin-top: 1rem;
    display: flex;
    a, button {
      margin-right: 1rem;
    }
  }
  div.show-record {
    display: flex;
    justify-content: space-between;
  }
}