
<div class='view-header'>
  <h1>Monitoring</h1>
</div>
<div class='view-content'>
  <ul class="index-list">
    <% @monitoring_events.each do |event| %>
      <li class='index-list-item'>
        <%= event.note %>
      </li>
    <% end %>
  </ul>
</div>