
<div class='view-header'>
  <h1>Users</h1>
</div>
<div class='view-content'>
  <ul class="index-list">
    <% @users.each do |user| %>
      <li class='index-list-item'>
        <%= link_to "#{user.email} #{user.first_name} #{user.last_name}", user %>
        <%= button_to "â¡", user, method: :delete, data: {turbo_method: :delete, turbo_confirm: "Please confirm you meant to delete #{user.email}"} %>
      </li>
    <% end %>
  </ul>
</div>
