
<p style="color: green"><%= notice %></p>

<h1>Users</h1>

<div id="users">
  <ul>
    <% @users.each do |user| %>
      <h2><%= link_to user.email, user %></h2>
      <%= button_to "Delete user", user, method: :delete %>

    <% end %>
  </ul>
  </div>