<div id='view-header'>
  <h1><%= @voice.name %></h1>
  <%= link_to '✍︎', edit_voice_path(@voice) %>
</div>
<div class='view-content'>
  <div class='show-record'>
    <%= render @voice %>
    <% if @voice.conversations.any? %>
      <h4> Conversations:</h4>
      <% @voice.conversations.each do |conversation| %>
        <p>
          <%= link_to conversation.title.present? ? conversation.title : "Conversation with id #{conversation.id}", conversation %>
        </p>
      <% end %>
    <% end %>
  </div>
</div>



