<%#= TODO: Move this partial to app/views/storage/storage_limit %>
<%#= TODO: Remember to adjust app/models/document.rb to match%>
<%= turbo_stream_from user.id, "storage-bar" %>
<div id='storage_bar'>
  <div class='storage-header'><i class="fa-solid fa-cloud fa-fw"></i>Storage</div>
  <div class='storage-limit-bar'>
    <% if user.storage_used > 0 %>
      <div class='storage-filled' style="width: <%= user.percent_storage_used %>%;"></div>
    <% end %>
  </div>
  <div class='storage-details'><%= "#{number_to_human_size(user.storage_used)} out of #{number_to_human_size(user.total_storage)} used" %></div>
</div>