<%= link_to "New project", new_project_path(wroom_project_id: wroom_project.id), class: 'new-record' %>
<% wroom_project.projects.each do |project| %>
    <div class='list-item'>
      <%= link_to wroom_app_path(project_id: project.id) do %>
        <div class='show-record'>
          <%= project.title %>
        </div>
      <% end %>
    <%= button_to "â¡", project, method: :delete %>
    </div>
<% end %>
