<%= turbo_frame_tag "projects" do %>
    <ul id="projects-list">
        <% @projects.each do |project| %>
            <% if can? :manage, project %>
                <li>
                    <%= link_to root_path(project_id: project.id) do %>
                        <span><%= project.title %></span>
                    <% end %>
                </li>
            <% end %>
        <% end %>
    </ul>
<% end %>
