<%= turbo_frame_tag "projects_frame" do %>
    <ul id="projects-list">
        <% @projects.each do |project| %>
            <% if can? :manage, project %>
                <li>
                    <%= link_to wroom_app_path(project_id: project.id) do %>
                        <span><%= project.title %></span>
                        <div class="controls">
                            <%= button_to "â¡", destroy_from_frame_project_path(project), class: 'delete-project', method: :delete %>
                        </div>
                    <% end %>
                </li>
            <% end %>
        <% end %>
    </ul>
<% end %>
