<script>
  function toggleLeftPanel() {
    console.log("yay")
    const panel = document.getElementById('documents-panel')
    const button = document.getElementById('collapse-button')
    if (panel.style.display == 'none') {
      panel.style.display = 'flex'
      button.innerHTML = '⬅️'
    } else {
      panel.style.display = 'none'
      button.innerHTML = '➡️'
    }
  }
</script>
<div id="collapse-button" onClick=toggleLeftPanel()>
  ⬅️
</div>
<div id="documents-panel" class="panel">
  <div id='wroom-logo'>
    <div>
      <span id='wroom'>WROOM</span>
    </div>
  </div>
  <div id="documents">
    <div id='navigation'>
      <% folder_id = @document ? @document.folder.id : current_user.root_folder.id %>
      <%= button_to "Dashboard", dashboard_path, params: { current_folder_id: folder_id }, class: 'library-link', method: :get %>
    </div>
    <%= render 'tree_folder', folder: current_user.root_folder %>
  </div>
</div>
<%= turbo_frame_tag "document_editor", src: editor_document_path(@document) %>

