<script>
  function toggleLeftPanel() {
    console.log("yay")
    const panel = document.getElementById('documents-panel')
    const button = document.getElementById('collapse-button')
    if (panel.style.display == 'none') {
      panel.style.display = 'flex'
      button.innerHTML = 'тои'
    } else {
      panel.style.display = 'none'
      button.innerHTML = 'той'
    }
  }
</script>
<div id="collapse-button" onClick=toggleLeftPanel()>
  тои
</div>
<div id="documents-panel" class="panel">
  <div class='panel-element' id='wroom-logo'>
    <div>
      <span id='wroom'>WROOM</span>
    </div>
  </div>
  <div class='panel-element' id='navigation'>
    <% library_path = @document ? explorer_folder_path(@document.folder) : explorer_folder_path(current_user.root_folder) %>
    <%= button_to "Dashboard", library_path, class: 'library-link', method: :get %>
  </div>
  <div id="documents">
    <%= render 'tree_folder', folder: current_user.root_folder %>
  </div>
</div>
<div id="document-panel" class="panel">
    <%= turbo_frame_tag "document_editor", src: editor_document_path(@document) %>
</div>
<div id="conversation-panel" class="panel">
  <% if @document.conversation %>
    <%= turbo_frame_tag "conversation_frame", src: chat_conversation_path(@document.conversation) %>
  <% end %>
</div>
