<script>
  function toggleLeftPanel() {
    console.log("yay")
    const panel = document.getElementById('documents-panel')
    const button = document.getElementById('collapse-button')
    if (panel.style.display == 'none') {
      panel.style.display = 'flex'
      button.innerHTML = '<i class="fa-solid fa-circle-chevron-up fa-rotate-270"></i>'
    } else {
      panel.style.display = 'none'
      button.innerHTML = '<i class="fa-solid fa-circle-chevron-up fa-rotate-90"></i>'
    }
  }
</script>
<div id="collapse-button" onClick=toggleLeftPanel()>
  <i class="fa-solid fa-circle-chevron-up fa-rotate-270"></i>
</div>
<div id="documents-panel" class="panel">
  <div id='wroom-logo'>
    <div>
      <span id='wroom'>WROOM</span>
    </div>
  </div>
  <div id="documents">
    <div id='navigation'>
      <% folder_id = @document ? @document.folder.id : current_user.root_folder.id %>
      <%= button_to "Dashboard", dashboard_path, params: { current_folder_id: folder_id }, class: 'library-link', method: :get %>
    </div>
    <div class='documents-wrapper'>
      <%= render 'tree_folder', folder: current_user.root_folder %>
    </div>
  </div>
</div>
<%= turbo_frame_tag "document_editor", src: editor_document_path(@document) %>

