@import '../colors';
@import '../fonts';

div#show-project {
  padding: 1rem;
  div.columns {
    display: flex;
    
    div.column {
      width: 25vw;
      display: flex;
      flex-direction: column;

      &:not(:first-child) {
        margin-left: 3rem;
      }

      a.new-record {
        color: $wroom-blue;
      }

      div.list-item {
        
      }
    }
  }
}