<% if current %>
  <h4>Current plan details</h4>
<% end %>
<% if plan == 'free' %>
  <div class='plan free'>
    <div class='left'>
      <h5>wroom Free</h5>
    </div>
    <ul>
      <li>Single user</li>
      <li>Free for life</li>
      <li>1,500 Mana Points at the start of each month</li>
      <li>200MB of storage</li>
    </ul>
  </div>
<% elsif plan == 'basic' %>
  <div class='plan basic'>
    <div class='left'>
      <h5>wroom Basic</h5>
      <% unless current || plan == 'free' %>
        <a class='upgrade-button basic' href='<%= ENV['STRIPE_BASIC_PAYMENT_LINK'] %>'>
          Upgrade to wroom Basic
        </a>
      <% end %>
    </div>
    <ul>
      <li>Single user</li>
      <li>$29.00 a month</li>
      <li>1,500 Mana Points at the start of each month</li>
      <li>25GB of storage</li>
    </ul>
  </div>
<% elsif plan == 'pro' %>
  <div class='plan pro'>
    <div class='left'>
      <h5>wroom Pro</h5>
      <% unless current %>
        <a class='upgrade-button pro' href='<%= ENV['STRIPE_PRO_PAYMENT_LINK'] %>'>
          Upgrade to wroom Pro
        </a>
      <% end %>
    </div>
    <ul>
      <li>Single user</li>
      <li>$79.00 a month</li>
      <li>5,000 Mana Points at the start of each month</li>
      <li>100GB of storage</li>
    </ul>
  </div>
<% end %>
