<%= turbo_frame_tag "view_content" do %>
  <div id='account-control'>
    <%= render 'settings/settings_links' %>
    <div id='account-control-content'>
      <div id="header">
        <h3>Subscriptions & Billing</h3>
      </div>
  </div>
<% end %>