<div>
  <h1>I say, your payment was not successful!</h1>
  <h4>Fell free to try again, or...</h4>
  <h5>if you can't afford wroom, please contact us through Discord and we will try to help you out!</h5>
</div>