<%= turbo_frame_tag "view_content" do %>
  <div id='account-control'>
    <%= render 'settings/settings_links' %>
    <div id='account-control-content'>
      <div id="header">
        <span>Subscriptions & Billing</span>
      </div>
  </div>
<% end %>