@import 'colors';
@import 'fonts';

nav#breadcrumbs {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 1rem;
  font-size: $font-size-80;
  font-weight: 100;
  color: $wroom-dark-gray;
  position: absolute;
  top: 0rem;
  left: 12rem;
  width: 100%;
  background: white;
  z-index: 500;

  &.sidebar-minified {
    left: 4rem;
  }
  
  ol.breadcrumbs {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin: 0;
      padding: 0;
    }
  }
  .breadcrumb-link {
    color: $wroom-dark-gray;
    text-decoration: none;
    padding: 0.5rem;
    border-radius: 5px;
    &:hover {
      background-color: $wroom-primary;
    }
  }
  span.breadcrumb-separator {
    margin: 0 0.5rem;
    color: $wroom-gray;
    font-weight: 600;
  }
}