
$wroom-blue: rgb(0, 102, 255);
$wroom-baby-blue: rgb(212, 229, 255);
$wroom-red: rgb(226, 3, 3);
$wroom-dark-gray: rgb(62, 58, 58);
$wroom-gray: rgb(230, 230, 230);
$wroom-light-gray: rgb(240,240,240);
$wroom-lighter-gray: rgb(250, 250, 250);
$wroom-green: rgb(23, 192, 88);