@import 'colors';
@import 'fonts';

div.context {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  font-size: $font-size-70;
  box-sizing: border-box;
  height: 90vh;
  background-color: white;

  div.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    h3 {
      font-size: $font-size-70;
      font-weight: 500;
      margin: 0;
      user-select: none;
    }
    a.quit-context-dialog {
      background-color: rgba(0,0,0,0);
      border: none;
      color: transparent;
      text-shadow: 0 0 0 $wroom-dark-gray;
      font-size: 0.5rem;
      display: flex;
      justify-content: flex-end;
    }
  }

  div.folders {
    background-color: white;
    flex: auto;
    height: 10px;
    margin-bottom: 3rem;
    padding: 1rem;
  }


  form.button_to {
    width: 100%;
    margin: 0 !important;
    margin-bottom: 0.3rem !important;
    button {
      font-family: $body-font;
      width: 100%;
      background: rgba(0, 0, 0, 0);
      border: none;
      text-align: left;
      padding-left: 0;
      font-size: $font-size-70;
      height: 1.5rem;
      margin: 0;
    }
  }

  div.tree-folder {
    div.parent {
      width: 100%;
      height: 1.5rem;
      white-space: nowrap;
      display: flex;
      align-items: center;
      padding: 0.1rem;
      border-radius: 5px;
      i {
        margin-left: 0.3rem;
        margin-right: 0.5rem;
        color: $wroom-dark-gray;
      }
      &:hover {
        background-color: $wroom-light-gray;
        cursor: pointer;
      }
    }
    div.children {
      display: flex;
      flex-direction: column;
      padding-left: 1rem;
      width: 100%;
      white-space: nowrap;
      box-sizing: border-box;
    }

    div.tree-document {
      width: 100%;
      height: 1.5rem;
      display: flex;
      align-items: center;
      font-weight: 400;
      padding: 0;
      box-sizing: border-box;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      i {
        margin-left: 0.4rem;
        margin-right: 0.5rem;
        color: $wroom-dark-gray;
      }
      &.linked {
        color: white;
        i {
          color: white;
        }
        background-color: $linked-source-color;
        border-radius: 5px;
      }
    }
  }
}
