@import 'colors';
@import 'fonts';
@import 'scrollbars';

div.context {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  font-size: $font-size-70;
  box-sizing: border-box;
  height: 90vh;
  background-color: white;
  color: $wroom-dark-gray;

  div.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    a {
      span {
        margin-right: 0.5rem;
      }
      color: white;
      padding: 0.5rem;
      background-color: #3e3a3a;
      font-weight: 800;
      font-size: 0.7rem;
      margin-right: 0.5rem;
      border-radius: 5px;
      border: 1px solid white;
    }
  }

  div.currently-selected {
    padding: 1rem 0 1rem 1rem;

    div.current-context-header {
      h3 {
        font-size: $font-size-80;
        font-weight: 100;
        margin: 0;
        user-select: none;
      }
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 0.5rem;
    }

    a.clear-context {
      padding: 0.5rem;
      font-size: 0.7rem;
      color: #e20303;
      background-color: white;
      border-radius: 5px;
      white-space: nowrap;
      border: 1px solid white;
      &:hover {
        border: 1px solid #e20303;
        cursor: pointer;
      }
    }
    
    div.context-table-container {
      height: 30vh;
      overflow-y: auto;
      background-color: $wroom-light-gray;
      padding: 0.5rem;
      border-radius: 5px;
      @include custom-scrollbar;

      table {
        width: 100%;
        border-spacing: 0;

        tr {
          &:hover {
            background-color: $wroom-lighter-gray;
            cursor: pointer;
          }
        }

        td {
          padding: 0.4rem;
          &:last-child {
            width: 1rem;
            button {
              text-align: right;
              border: 0;
              background-color: rgba(0, 0, 0, 0);
              width: 1.7rem;
            }
            i {
              margin-right: 1rem;
            }
            i:hover {
              color: $wroom-red;
              cursor: pointer;
            }
          }
        }
      }
    }
  }

  div.folders {
    background-color: white;
    height: 30vh;
    margin-bottom: 3rem;
    padding: 1rem;
    overflow-y: scroll;
    overflow-x: hidden;
    @include custom-scrollbar;
    div.folder {
      display: flex;
      flex-direction: column;
      width: 100%;
      div.parent {
        width: 100%;
        height: 1.5rem;
        white-space: nowrap;
        display: flex;
        align-items: center;
        padding: 0.1rem;
        border-radius: 5px;
        i {
          margin-left: 0.3rem;
          margin-right: 0.3rem;
          color: $wroom-dark-gray;
          &.invisible {
            color: rgba(0, 0, 0, 0);
          }
        }
        &:hover {
          background-color: $wroom-light-gray;
          cursor: pointer;
        }
      }
      div.children {
        white-space:zz nowrap;
        display: flex;
        align-items: start;
        padding: 0.1rem;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        margin-left: 0.5rem;
      }
    }
  }


  form.document {
    width: 100%;
    margin: 0 !important;
    margin-bottom: 0.3rem !important;
    display: flex;
    flex-direction: row;
    button {
      width: 100%;
      height: 1.5rem;
      display: flex;
      align-items: center;
      font-weight: 400;
      padding: 0;
      box-sizing: border-box;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      border: 0;
      border-radius: 5px;
      background-color: white;
      i {
        margin-left: 1.3rem;
        margin-right: 0.5rem;
        color: $wroom-dark-gray;
      }
      &.linked {
        color: white;
        i {
          color: white;
        }
        background-color: $wroom-dark-gray;
        border-radius: 5px;
        &:hover {
          background-color: $wroom-primary;
          cursor: pointer;
        }
      }
      &:hover {
        background-color: $wroom-light-gray;
        cursor: pointer;
      }
    }
  }
}
