@import 'colors';

div.context {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: white;
  font-size: 0.7rem;
  box-sizing: border-box;
  height: 90vh;

  div.header {
    height: 4rem;
    background-color: $wroom-baby-blue;
    a {
      margin-left: auto;
      margin-bottom: 1rem;
    }
  }

  form.button_to {
    width: 100%;
    margin: 0 !important;
    margin-bottom: 0.3rem !important;
    button {
      font-family: 'Roboto Slab', serif;
      width: 100%;
      background: rgba(0, 0, 0, 0);
      border: none;
      text-align: left;
      padding-left: 0.3rem;
      font-size: 0.7rem;
      height: 1.5rem;
    }
  }

  div.tree-folder {
    div.parent {
      width: 100%;
      height: 1.5rem;
      white-space: nowrap;
      display: flex;
      align-items: center;
      padding: 0.1rem;
      &:hover {
        background-color: $wroom-light-gray;
        cursor: pointer;
      }
    }
    div.children {
      display: flex;
      flex-direction: column;
      padding-left: 1rem;
      width: 100%;
      white-space: nowrap;
      box-sizing: border-box;
    }

    div.tree-document {
      width: 100%;
      height: 1.5rem;
      display: flex;
      align-items: center;
      font-weight: 400;
      padding: 0;
      box-sizing: border-box;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      &.linked {
        color: white;
        background-color: $wroom-blue;
        border-radius: 5px;
      }
    }
  }
}
