@import 'colors';
@import 'navigation';
@import 'monitoring';
@import 'folder_explorer';
@import 'record_form';
@import 'voices';
@import 'user_settings';

a {
  text-decoration: none;
  color: black;
}
button:hover {
  cursor: pointer;
}

main {
  height: 92.9vh;
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  font-size: 0.9rem;
  background-color: $wroom-lighter-gray;
  color: $wroom-dark-gray;
}