@import 'colors';
@import 'navbar';
@import 'monitoring';
@import 'folder_explorer';

.turbo-progress-bar {
  height: 6%;
  z-index: -500;
  bottom: 0;
  background-color: $wroom-baby-blue;
}

a {
  text-decoration: none;
  color: black;
}
button:hover {
  cursor: pointer;
}

main {
  height: 92.9vh;
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  font-size: 0.9rem;
  background-color: $wroom-lighter-gray;
  color: $wroom-dark-gray;
}