@import 'colors';


div#devise {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  div.alert {
    font-size: 0.7rem;
    margin-top: 1rem;
    font-weight: 500;
    color: $wroom-green
  }
  
  div.ui-box {
    width: 40rem;
    background-color: white;
    border: 1px solid $wroom-gray;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    padding: 2rem;

    form {
      width: 80%;

      input[type='text'], input[type='number'], input[type='email'], input[type='password'], textarea {
        width: 100%;
        border: 1px solid $wroom-gray;
        height: 2rem;
        padding: 0.5rem;
        box-sizing: border-box;
        border-radius: 5px;
        font-family: $body-font;

        &:focus {
          outline: none;
          border: 1px solid $wroom-primary;
        }
      }

      div.password-instructions {
        margin-top: 0.5rem;
        font-size: 0.7rem;
        margin-bottom: 0.5rem;
      }

      div#error_explanation {
        margin-top: 0.5rem;
        h2 {
          text-decoration: underline 1px $wroom-red;
          font-size: 0.7rem;
        }
        ul {
          padding: 0;
          li {
            font-size: 0.8rem;
            &::marker {
              color: $wroom-red;
            }
          }
        }
      }
    }
  }
  
  div.field {
    padding-top: 0.5rem;
    input {
      width: 100%;
      box-sizing: border-box;
      font-size: 0.7rem;
      padding: 0.5rem;
    }
  }
  label, em {
    font-size: 0.7rem;
  }

  div.actions {
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    input {
      font-size: 0.7rem;
      color: $wroom-primary;
      font-weight: 300;
      border-top: 1px solid $wroom-primary;
      border-bottom: 1px solid $wroom-primary;
      border-left: none;
      border-right: none;
      background-color: rgba(0, 0, 0, 0);
      &:hover {
        cursor: pointer;
        color: blue;
      }
    }
  }

  div.shared-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    a {
      font-size: 0.7rem;
      margin-top: 0.5rem;
      &:hover {
        text-decoration: underline 1px $wroom-primary;
      }
    }
  }

  div.remember-me-field {
    display: flex;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    input { 
      margin: 0 0.3rem 0 0;
    }
    label {
      font-style: normal;
      font-size: 0.7rem;
    }
  }

  div#logo {
    text-align: center;
    font-family: $logo-font;
    font-weight: 900;
    padding: 0;
    color: black;
    span#wroom {
      font-size: 2rem;
    }
  }

  &.reset-password {

  }
}
