@import 'colors';
@import 'scrollbars';
@import 'fonts';

div#edit-document {
  padding: 0;
  background-color: white;
  border-radius: 10px;
  width: 35vw;
  height: 90vh;
  flex-flow: column;
  display: flex;
  form.button_to {
    display: none;
  }
  i {
    margin-top: 1rem;
    margin-right: 1rem;
    font-size: 0.8rem;
  }


  trix-toolbar {
    margin-top: 0.5rem;
    padding: 1rem;
    flex: none;

    .tool-button-row {
      height: fit-content;

    }

    .trix-button-group {
      margin-bottom: 0;
      border: none;
      overflow: hidden;
    }

    .trix-button {
      
    }

    .trix-button--icon {
      width: 1.8rem !important;
      height: 1.4rem !important;
      background-color: white;
      border: none;
      margin-right: 0.5rem;
      padding: 0.5rem;
      border-radius: 5px;

      &:hover {
        background-color: $wroom-light-gray;
        cursor: pointer;
      }
    }
  }

  trix-editor {
    font-size: 0.7rem;
    overflow-y: auto;
    background-color: white;
    padding-right: 1rem;
    border: none;
    text-align: justify;
    line-height: 1.4rem;
    padding: 3vw 3vw 3vw 1vw;
    flex: auto;
    height: 10px;
    margin-bottom: 3rem;
    @include custom-scrollbar;
  }
  form#edit-document {
    flex: auto;
    display: flex;
    flex-flow: column;

    input#document_title {
      width: -webkit-fill-available;
      margin-right: 1rem;
      margin-left: 1rem;
      font-family: $body-font;
      font-size: 0.8rem;
      padding: 0.5rem;
      border-radius: 5px;
      font-weight: 500;
      background-color: white;
      border: none;
      box-sizing: content-box;
      &:focus {
        outline: none;
      }
    }

  }

  button.link {
    padding: 1.4rem;
    // padding-right: 1rem;
    border: none;

    font-family: $body-font;
    color: $wroom-primary;
    background-color: rgba(0, 0, 0, 0);
    font-size: 0.7rem;
    width: 100%;
    text-align: end;
    &:hover {
      cursor: pointer;
    }
  }
}