@import 'colors';

div#documents-panel {
  width: 20vw;
  margin-right: 1rem;
}
div#documents {
  padding: 1rem;
  display: flex;
  z-index: 995;
  overflow-y: auto;
  box-sizing: border-box;
  flex-direction: column;
  background-color: white;
  overflow-y: auto;
  border-radius: 10px;
  font-size: 0.7rem;
  flex-grow: 1;

  form.button_to {
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    button.library-link {
      border: none;
      font-family: $body-font;
      width: 100%;
      padding: 0.5rem 1rem;
      align-self: flex-end;
      font-size: 1rem;
      color: $wroom-primary;
      background-color: $wroom-primary;
      border-radius: 5px;
      color: white;
      font-weight: 700;
      &:hover {
        opacity: 80%;
        cursor: pointer;
      }
    }
  }

  div.tree-folder {
    div.parent {
      height: 1.5rem;
      white-space: nowrap;
      padding: 0.1rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      i {
        margin-right: 0.2rem;
      }
      &:hover {
        color: $wroom-primary;

        cursor: pointer;
      }
    }
    div.children {
      display: flex;
      flex-direction: column;
      padding-left: 1rem;
      white-space: nowrap;
    }
  }

  div.tree-document {
    height: 1.5rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    i {
      font-size: 0.8rem;
      margin-right: -0.1rem;
    }
    &:hover {
      color: $wroom-primary;
      cursor: pointer;
    }
  }
}