@import 'colors';
@import 'scrollbars';
@import 'fonts';

turbo-frame#document_editor {
  flex-grow: 1;
}

div#edit-document {
  padding: 0;
  width: 100%;
  height: 90vh;
  flex-flow: column;
  display: flex;
  form.button_to {
    display: none;
  }
  i {
    margin-right: 0.5rem;
    font-size: $font-size-80;
  }


  trix-toolbar {
    margin-top: 0.5rem;
    padding: 1rem;
    flex: none;

    .tool-button-row {
      height: fit-content;

    }

    .trix-button-group {
      margin-bottom: 0;
      border: none;
      overflow: hidden;
    }

    .trix-button {
      
    }

    .trix-button--icon {
      width: 1.8rem !important;
      height: 1.4rem !important;
      background-color: white;
      border: none;
      margin-right: 0.5rem;
      padding: 0.5rem;
      border-radius: 5px;

      &:hover {
        background-color: $wroom-light-gray;
        cursor: pointer;
      }
    }
  }

  trix-editor {
    font-size: $font-size-80;
    overflow-y: auto;
    background-color: white;
    color: $wroom-dark-gray;
    padding: 1rem;
    border: none;
    text-align: justify;
    line-height: 1.4rem;
    flex: auto;
    height: 10px;
    margin-bottom: 3rem;
    @include custom-scrollbar;
  }
  form#edit-document {
    flex: auto;
    display: flex;
    flex-flow: column;

    input#document_title {
      width: -webkit-fill-available;
      margin-right: 1rem;
      margin-left: 1rem;
      margin-top: 2rem;
      font-family: $body-font;
      font-size: $font-size-110;
      padding: 0.5rem;
      border-radius: 5px;
      font-weight: 500;
      background-color: $wroom-primary;
      border: none;
      box-sizing: content-box;
      &:focus {
        outline: none;
      }
    }

  }

  button.link {
    padding: 1.4rem;
    // padding-right: 1rem;
    border: none;

    font-family: $body-font;
    color: $wroom-primary;
    background-color: rgba(0, 0, 0, 0);
    font-size: $font-size-70;
    width: 100%;
    text-align: end;
    &:hover {
      cursor: pointer;
    }
  }
}