@import 'colors';
@import 'pulse_shadow';



div.recycle-bin {
  width: 50rem;
    background-color: white;
    padding: 1rem;
    border-radius: 10px;
    font-size: 0.7rem;
    table {
      width: 100%;
      td, th {
        text-align: left;
        &:not(:first-child) {
          text-align: right;
        }
      }
    }
}
span.icon {
  margin-right: 0.5rem;
}

div#folder-tree-background {
  background-color: white;
}


div#current-folder-background {
  background-color: $wroom-primary;
  flex-grow: 1;
  width: 1px;
  display: flex;
  overflow: hidden;
  
  box-sizing: border-box;
}


div.folder-content {
  height: 100%;
  overflow-y: auto;

  table.folder-contents-table {
    width: 100%;
    margin-top: 1rem;
    th {
      color: $wroom-halfway-dark-gray;
    }

    th, td {
      &:first-child {
        text-align: left;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 20rem;
      }
      text-align: right;
      white-space: nowrap;
      &:not(:first-child):not(:last-child) {
        padding: 0 1rem;
      }
    }
    tr { 
      padding: 0.5rem 0;
    }
  }
  div.item {
    padding: 0.2rem 0;
    height: 1.5rem;
    display: flex;
    align-items: center;
    span.icon {
      font-size: 1rem;
    }
    &:hover {
      background-color: $wroom-light-gray;
      cursor: pointer;
    }
  }
  div.no-content {
    h3 {
      font-size: 1rem;
    }
    p {
      span {
        color: $wroom-primary;
      }
    }

    div.haiku {
      margin-left: 37vw;
      margin-top: 37vh;
      padding-right: 0.5rem;
      border-right: 7px solid $wroom-gray;
      font-weight: 100;
      text-align: right;
    }
  }
}

