@import 'colors';
@import 'pulse_shadow';

div.outside {
  z-index: 998;
  position: absolute;
  width: 100%;
  height: 100%;
}

span.icon {
  margin-right: 0.5rem;
}

div#folder-explorer {
  height: 100%;
  width: 100%;
  display: flex;
  padding: 1rem;
  
  box-sizing: border-box;
  div#folder-tree {
    box-sizing: border-box;
    padding: 1rem;
    width: 15rem;
    min-width: min-content;
    height: 100%;
    display: flex;
    z-index: 995;

    flex-direction: column;
    background-color: white;
    height: 100%;
    overflow-y: auto;
    border-radius: 10px;
    font-size: 0.7rem;
    div.tree-folder {
      div.parent {
        width: 100%;
        height: 1.5rem;
        white-space: nowrap;
        display: flex;
        align-items: center;
        padding: 0.1rem;
        &:hover {
          background-color: $wroom-light-gray;
          cursor: pointer;
        }
      }
      div.children {
        display: flex;
        flex-direction: column;
        padding-left: 1rem;
        width: fit-content;
        white-space: nowrap;
      }
    }

    div.tree-document {
      width: 100%;
      height: 1.5rem;
      display: flex;
      align-items: center;
      &:hover {
        background-color: $wroom-light-gray;
        cursor: pointer;
      }
    }
  }

  div#current-folder {
    width: 1rem;
    flex-grow: 1;
    height: 100%;
    padding-left: 1rem;

    div.columns {
      display: flex;
      flex-direction: row;
      height: 100%;
      div.ui-column {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 4rem;
        box-sizing: border-box;
        padding-right: 1rem;
        div.new {
          font-size: 0.7rem;
          font-weight: 400;
          box-sizing: border-box;
          
          div.button {
            animation: pulseShadow 4s infinite alternate;

            color: $wroom-blue;
            background-color: white;
            padding: 1rem 1.2rem;
            border-radius: 10px;
            text-align: center;
            &:hover {
              cursor: pointer;
              background-color: $wroom-baby-blue;
            }
          }
          
        }
      div.options {
        z-index: 999;
        text-align: left;
        flex-direction: column;
        font-size: 0.6rem;
        font-weight: 300;
        position: relative;
        box-sizing: border-box;
        top: -0.5rem;
        color: $wroom-blue;
        background-color: white;
        padding: 1rem;
        border-radius: 10px;
        border: 1px solid $wroom-gray;
        display: flex;
        a {
          color: $wroom-blue;
          margin-top: 0.5rem;
          white-space: nowrap;
          display: flex;
          &:hover {
            text-decoration: underline 1px $wroom-blue;
          }
        }
      }
      }
      div.content-column {
        width: 50rem;
        background-color: white;
        padding: 1rem;
        border-radius: 10px;
        font-size: 0.7rem;
        z-index: 995;
        div.header {
          display: flex;
          align-items: start;
          justify-content: space-between;
          span {
            font-size: 1rem;
            font-weight: 500;
            color: $wroom-dark-gray;
            margin-right: 1rem;
          }
          div.controls {
            display: flex;
            flex-direction: row;
            align-items: baseline;
            a, button {
              font-family: 'Roboto Slab', serif;
              font-size: 0.7rem;
              background-color: white;
              color: $wroom-blue;
              margin: 0;
              margin-left: 1rem;
              padding: 0;
              border: none;
              font-weight: 300;
              &:hover {
                text-decoration: underline 1px $wroom-blue;
              }
            }
          }
        }

        div.content {
          height: 100%;
          overflow-y: auto;
          div.item {
            padding: 0.2rem 0;
            &:hover {
              background-color: $wroom-light-gray;
              cursor: pointer;
            }
          }
        }
      }
    }

  }
}