@import 'colors';
@import 'pulse_shadow';



div.recycle-bin {
  display: flex;
  flex-direction: row;
  background-color: white;
  border-radius: 10px;
  table {
    width: 100%;
    border-spacing: 0;
    th {
      color: $wroom-halfway-dark-gray;
    }

    th, td {
      &:first-child {
        text-align: left;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 20rem;
      }
      text-align: right;
      white-space: nowrap;
      &:not(:first-child):not(:last-child) {
        padding: 0 1rem;
      }
    }
    tr { 
      padding: 0.5rem 0;
    }
  }
}


div#folder-tree-background {
  background-color: white;
}


div#current-folder-background {
  background-color: $wroom-primary;
  flex-grow: 1;
  width: 1px;
  display: flex;
  overflow: hidden;
  
  box-sizing: border-box;
}
table.folder-contents-table {
  width: 100%;
  border-spacing: 0;
  span.icon {
    margin-right: 0.5rem;
  }
  th {
    color: $wroom-halfway-dark-gray;
    border-bottom: 1px solid $wroom-light-gray;
  }
  tr {
    border-radius: 5px;
    padding: 0.5rem 0;
    color: $wroom-dark-gray;
    &:hover {
      color: $wroom-primary;
      // background-color: $wroom-gray;
      cursor: pointer;
      a {
        color: $wroom-primary;
      }
    }
  }

  th, td {
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid $wroom-light-gray;
    &:first-child {
      max-width: 20rem;
    }

    &:not(:first-child):not(:last-child) {
      padding-left: 1rem;
      padding-right: 1rem;

    }

  }
}

div.folder-content {
  height: 100%;
  overflow-y: auto;


  div.item {
    padding: 0.2rem 0;
    height: 1.5rem;
    display: flex;
    align-items: center;
    span.icon {
      font-size: 1rem;
    }
    &:hover {
      background-color: $wroom-light-gray;
      cursor: pointer;
    }
  }
  div.no-content {
    h3 {
      font-size: 1rem;
    }
    p {
      span {
        color: $wroom-primary;
      }
    }

    div.haiku {
      margin-left: 37vw;
      margin-top: 37vh;
      padding-right: 0.5rem;
      border-right: 7px solid $wroom-gray;
      font-weight: 100;
      text-align: right;
    }
  }
}

