@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&family=MuseoModerno:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,400;0,6..12,500;0,6..12,600;0,6..12,700;0,6..12,800;0,6..12,900;0,6..12,1000;1,6..12,200;1,6..12,300;1,6..12,400;1,6..12,500;1,6..12,600;1,6..12,700;1,6..12,800;1,6..12,900;1,6..12,1000&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Odor+Mean+Chey&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ultra&display=swap');

// FONT SIZES
$base-font-size: 1rem;
$font-size-80: 0.8rem;
$font-size-70: 0.7rem;
$font-size-60: 0.6rem;
$font-size-110: 1.1rem;
$font-size-200: 2rem;
$font-size-90: 0.9rem;

// OPTION 1
// $logo-font: 'MuseoModerno', sans-serif;
// $body-font: 'Roboto Slab', serif;
// $app-logo-size: 2.2rem;
// $app-logo-weight: 900;

// OPTION 2
// $logo-font: 'Poppins', sans-serif;
// $body-font: 'Poppins', sans-serif;
// $app-logo-size: 2.7rem;
// $app-logo-weight: 900;

// OPTION 3
// $logo-font: 'Poppins', sans-serif;
// $body-font: 'Nunito Sans', sans-serif;
// $app-logo-size: 2.7rem;
// $app-logo-weight: 900;

// OPTION 4
// $logo-font: 'Nunito Sans', sans-serif;
// $body-font: 'Poppins', sans-serif;
// $app-logo-size: 2.2rem;
// $app-logo-weight: 900;

// OPTION 5
// $logo-font: 'Nunito Sans', sans-serif;
// $body-font: 'Nunito Sans', sans-serif;
// $app-logo-size: 2.7rem;
// $app-logo-weight: 1000;

// OPTION 6
// $logo-font: 'MuseoModerno', sans-serif;
// $body-font: 'Poppins', sans-serif;
// $app-logo-size: 2.7rem;
// $app-logo-weight: 900;

// OPTION 7
$logo-font: 'MuseoModerno', sans-serif;
$body-font: 'Nunito Sans', sans-serif;
$dashboard-logo-size: 1.7rem;
$app-logo-size: 1.7rem;
$app-logo-weight: 900;

// OPTION 8
// $logo-font: 'Nunito Sans', sans-serif;
// $body-font: 'Poppins', sans-serif;
// $app-logo-size: 2.2rem;
// $app-logo-weight: 900;

// OPTION 9
// $logo-font: 'Ultra', serif;
// $body-font: 'Poppins', sans-serif;
// $app-logo-size: 1.7rem;
// $app-logo-weight: 900;

