@import 'colors';
@import 'scrollbars';
div.monitoring {
  font-family: 'Inconsolata', monospace;
  margin-top: 1rem;
  align-items: flex-start;
  overflow: hidden;
  background-color: rgb(11, 9, 21);
  border-radius: 10px;
  padding: 1rem;
  height: 72vh;
  overflow-y: scroll;
  @include custom-scrollbar;
  div.lists {
    display: flex;
    // width: fit-content;
    padding: 0 0 0 1rem;

      h4, h5, h6 {
        color: white;
      }
      
      h4 {
        margin: 2rem 0 0.5rem 0.1rem;
      }

      h6 {
        font-size: $font-size-90;
        margin: 0;
      }
      ul {
        // font-family: 'Inconsolata', monospace;
        columns: 1;
        width: 14rem;
        margin: 0 2rem 0 0;
        padding: 0;
        li {
          background-color: rgb(19, 21, 24);
          color: rgb(21, 218, 40);
          width: 100%;
          font-size: $font-size-80;
          padding: 0.5rem;
          margin-bottom: 0.4rem;
          font-weight: 700;
          line-height: 1rem;
          border-radius: 5px;
          list-style-type: none;
          h6 {
            color: rgb(21, 218, 40);
          }
          p {
            margin-top: 0.5rem;
            margin-bottom: 0.5rem;
          }
        }

      }
  }
}