
@import 'colors';

header {

  font-family: 'Roboto Slab', serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgb(226, 226, 226);
  background-color: white;
  height: 7vh;
  z-index: 995;

  div#left-aligned {
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    margin-left: 1rem;
    span#wroom {
      font-family: 'MuseoModerno';
      color: black;
      font-weight: 900;
      font-size: 1.1rem;
    }

    p#dashboard {
      font-family: 'MuseoModerno';
      font-weight: 100;
      font-size: 0.9rem;
      padding-left: 0.5rem;
      color: $wroom-dark-gray;
      text-decoration: none;
      margin: 0
    }
  }

  
  nav {
    display: flex;
    align-items: baseline;
    font-size: 0.6rem;
    margin-right: 1rem;

    a {
      margin-right: 1rem;
      color: $wroom-dark-gray;

      &:hover {
        text-decoration: underline 1px $wroom-blue;
      }

      &#wroom {
        height: 1rem;
        width: 3.5rem;
        border: 1px solid $wroom-blue;
        font-weight: 900;
        color: black;
        padding: 0.5rem;
        border-radius: 40px;
        font-size: 0.7rem;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    button {
      color: $wroom-red;
      background-color: rgba(0, 0, 0, 0);
      font-family: 'Roboto Slab', serif;
      font-size: 0.6rem;
      margin-right: 0.5rem;
      border: none;
      &:hover {
        text-decoration: underline 1px $wroom-red;
      }
      padding: 0;
    }

    a.gpt-4-toggle {
      font-size: 0.4rem;
      border: 2px solid $wroom-halfway-dark-gray;
      border-radius: 100px;
      padding: 0.1rem;
      text-decoration: none;
      font-weight: 900;
      color: $wroom-halfway-dark-gray;
      align-self: center;
      display: flex;


      &.on {
        color: $wroom-green;
        border: 2px solid $wroom-green;
      }

      &.off {
        color: $wroom-halfway-dark-gray;
        border: 2px solid $wroom-halfway-dark-gray;
      }
    }
    
    p#current-user {
      font-size: 0.6rem;
      font-weight: 200;
    }

    div.link-wrapper {
      display: flex;
      align-self: center;
    }

    a.settings-link {
      margin-left: 0.7rem;
      font-size: 0.8rem;
      color: transparent;
      align-self: center;
      text-shadow: 0 0 0 $wroom-dark-gray;
      &:hover {
        text-decoration: none;
        text-shadow: 0 0 0 $wroom-blue;
      }
    }
  }
}