@import 'fonts';
@import 'colors';
@import 'scrollbars';

div.new-folder {
  form {
    margin-top: 1rem;
    input {
      font-family: $body-font;
      font-size: $font-size-70;
      padding: 0.5rem;
      &:focus {
        background-color: $wroom-lighter-gray;
        border: 1px solid white;
        outline: none;
      }
      &[type="text"] {
        width: 50vw;
      }
      &[type="file"] {
        border: none;
      }
      &[type="text"] {
        width: 50vw;
      }
      &[type="submit"] {
        background-color: $wroom-dark-gray;
        border-radius: 5px;
        color: white;
        cursor: pointer;
        font-size: $font-size-70;
        font-weight: bold;
        padding: 0.5rem;
        width: 10vw;
        border: 1px solid $wroom-dark-gray;
        &:hover {
          border: 1px solid $wroom-primary-dark;
          background-color: $wroom-primary-dark;
        }
      }
      border: 1px solid $wroom-gray;
      border-radius: 5px;
      box-sizing: border-box;
      margin-bottom: 0.5rem;
    }
  }
}