@import 'colors';

div#record-form-view {
  height: 100%;
  width: 100%;
  margin: 0;
  display: flex;
  align-items: start;
  justify-content: center;
  font-size: 0.7rem;

  div#record-form-box {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    margin-top: 1rem;
    width: 100%;
    padding: 1rem;
    border: 1px solid $wroom-light-gray;
    
    div.validation {
      color: $wroom-red;
      margin-top: 1rem;
      margin-bottom: 1rem;
    }

    div#header {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      h3 {
        margin: 0;
        margin-bottom: -0.5rem;
        color: $wroom-gray;
        font-size: 0.8rem;
      }
      a {
        color: transparent;
        text-shadow: 0 0 0 $wroom-dark-gray;
        font-size: 0.6rem;
      }
    }

    form {
      input[type='text'], input[type='number'], textarea {
        width: 100%;
        border: 1px solid $wroom-gray;
        height: 2rem;
        padding: 0.5rem;
        box-sizing: border-box;
        border-radius: 5px;
        font-family: 'Roboto Slab', serif;
        border-radius: 5px;

        &:focus {
          outline: none;
          border: 1px solid $wroom-blue;
        }
      }

      textarea {
        height: 10rem;
        border-radius: 5px;

      }

      input[type='submit'] {
        font-family: 'Roboto Slab', serif;
        background-color: white;
        border: none;
        color: $wroom-blue;
        font-size: 0.6rem;
        margin: 0;
        padding: 0;
        &:hover {
          cursor: pointer;
        }
      }
      
      
      input[type='file'] {
        font-family: 'Roboto Slab', serif;
        background-color: white;
        border: none;
        font-size: 0.7rem;
        margin: 0;
        padding: 0;
      }
      div.field {
        display: flex;
        flex-direction: column;
        margin-bottom: 0.5rem;

        label {
          margin-bottom: 0.1rem;
          font-size: 0.7rem;
        }
      }

      div.field-with-submit {
        display: flex;
        flex-direction: row;
        align-items: center;

        input[type='submit'] {
          padding-left: 0.5rem;
        }
      }
      div.actions {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin-top: 0.5rem;
        padding-right: 0.2rem;
        input {
          padding: 0.5rem;
          border-radius: 5px;
          border: 1px solid $wroom-gray;
          font-size: 0.8rem;
          &:hover {
            background-color: $wroom-baby-blue;
          }
        }

      }
    }
  }
}