@import 'colors';
@import 'fonts';
@import 'mixins';

div#sidebar-background {
  width: 19vw;
  background-color: white;
}
div#sidebar {
  box-sizing: border-box;
  padding: 1rem;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  z-index: 995;
  background-color: $wroom-primary;
  height: 100%;
  overflow-y: auto;
  border-bottom-right-radius: 30px;
  font-size: 0.7rem;
  overflow: hidden;

  div#wroom-logo {
    @include flex-center-content;
    min-height: 2rem;
    height: 0;
    margin-bottom: 2rem;
    
    div {
      border-radius: 10px;
      background: none;
      width: 1px;
      text-align: center;
      margin-top: 1.6rem;
      height: 1px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      span#wroom {
        font-family: $logo-font;
        font-weight: $app-logo-weight;
        font-size: $dashboard-logo-size;
        color: white;
      }
    }
  }

  div#folder-tree {
    flex-direction: column;
    width: 100%;
    flex: 1;
    display: flex;
    font-weight: 600;
    span.icon {
      margin-right: 0.5rem;
      margin-left: 0.5rem;
    }
    span.folder-name {
      display: block;

      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    a.trash-link {
      display: flex;
      white-space: nowrap;
      width: calc(100% - 1px);
      height: 1.5rem;
      display: flex;
      align-items: center;
      padding: 0.1rem;
      border-radius: 5px;
      &:hover {
        background-color: $wroom-light-gray;
        cursor: pointer;
      }
    }
    div.tree-folder {
      div.folder {
        width: calc(100% - 1px);
        height: 1.5rem;
        display: flex;
        align-items: center;
        padding: 0.1rem;
        border-radius: 5px;
        &:hover {
          background-color: $wroom-light-gray;
          cursor: pointer;
        }
      }
      div.children {
        display: flex;
        flex-direction: column;
        white-space: nowrap;
        div.folder {
          padding-left: 0.5rem;
          box-sizing: border-box;
        }
      }
    }
  
    div.tree-document {
      width: 100%;
      height: 1.5rem;
      display: flex;
      align-items: center;
      border-radius: 5px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      &:hover {
        background-color: $wroom-light-gray;
        cursor: pointer;
      }
    }
  }
}