@import 'colors';
@import 'fonts';
@import 'mixins';
@import 'scrollbars';

div#sidebar-background {
  width: 19vw;
  background-color: white;
}
div#sidebar {
  box-sizing: border-box;
  padding: 1rem;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  z-index: 300;
  background-color: $wroom-primary;
  height: 100%;
  overflow-y: auto;
  border-bottom-right-radius: 30px;
  font-size: $font-size-80;
  overflow: hidden;
  padding-bottom: 0.5rem;

  div.link-wrapper {
    width: 100%;
    font-weight: 600;
    a {
      height: 1.5rem;
      white-space: nowrap;
      display: flex;
      align-items: center;
      padding: 0.1rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      border-radius: 5px;
      padding-left: 0.5rem;
      i {
        margin-right: 0.5rem;
        margin-left: -0.2rem;
      }
      &:hover {
        background-color: $wroom-light-gray;
        cursor: pointer;
      }
    }
    a.gpt-4-toggle {
      &.on {
        color: $wroom-green;
        background-color: $wroom-primary-dark;
      }

      &.off {
        color: $wroom-dark-gray;
      }
    }
  }
  div#account-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: $font-size-60;
    padding-left: 0.5rem;
    margin-top: 0.5rem;

    button {
      background-color: rgba(0,0,0,0);
      border: none;
      outline: none;
      font-size: $font-size-60;

      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }
    p#current-user {
      font-weight: 200;
      width: 5rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    a.settings-link {
      margin-left: 0.7rem;
      font-size: $font-size-80;
      color: transparent;
      align-self: center;
      text-shadow: 0 0 0 $wroom-dark-gray;
      &:hover {
        text-decoration: none;
        text-shadow: 0 0 0 $wroom-primary-light;
      }
    }
  }

  div#wroom-logo {
    @include flex-center-content;
    min-height: 2rem;
    height: 0;
    margin-bottom: 2rem;
    
    div {
      border-radius: 10px;
      background: none;
      width: 1px;
      text-align: center;
      margin-top: 1.6rem;
      height: 1px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      span#wroom {
        font-family: $logo-font;
        font-weight: $app-logo-weight;
        font-size: $dashboard-logo-size;
        color: white;
      }
    }
  }

  div#folder-tree {
    flex-direction: column;
    width: 100%;
    flex: 1;
    display: flex;
    font-weight: 600;
    overflow-y: auto;
    overflow-x: hidden;
    @include custom-scrollbar;

    span.folder-name {
      display: block;

      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    a.trash-link {
      display: flex;
      white-space: nowrap;
      width: calc(100% - 4px);
      height: 1.5rem;
      display: flex;
      align-items: center;
      padding: 0.1rem;
      border-radius: 5px;
      i {
        margin-left: 0.2rem;
        margin-right: 0.5rem;
      }
      &:hover {
        background-color: $wroom-light-gray;
        cursor: pointer;
      }
    }
    div.tree-folder {
      div.folder {
        width: calc(100% - 4px);
        height: 1.5rem;
        display: flex;
        align-items: center;
        padding: 0.1rem;
        border-radius: 5px;
        i {
          margin-right: 0.5rem;
          margin-left: 0.2rem;
        }
        &:hover {
          background-color: $wroom-light-gray;
          cursor: pointer;
        }
      }
      div.children {
        display: flex;
        flex-direction: column;
        white-space: nowrap;
        padding-left: 0.7rem;
        div.folder {
          box-sizing: border-box;
        }
        div.document i {
          margin-right: 0.4rem;
          margin-left: 0.2rem;
        }
      }
    }
  }
}
div.new {
  font-size: $font-size-70;
  font-weight: 400;
  box-sizing: border-box;
  margin-bottom: 0.5rem;
  display: block;
  div.button {
    height: 1.5rem;
    color: white;
    background-color: $wroom-dark-gray;
    border-radius: 5px;
    text-align: center;
    font-size: $font-size-90;
    font-weight: 800;
    padding-top: 0.2rem;
    i {
      margin-right: 0.5rem;
      margin-left: -0.5rem;
    }
    &:hover {
      cursor: pointer;
      background-color: $wroom-primary-dark;
    }
  }
  
  div.options {
    z-index: 999;
    text-align: left;
    flex-direction: column;
    font-size: $font-size-60;
    font-weight: 300;
    // position: relative;
    box-sizing: border-box;
    color: $wroom-primary;
    background-color: $wroom-light-gray;
    padding: 0.2rem;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    display: inline-block;
    a {
      color: $wroom-dark-gray;
      white-space: nowrap;
      display: flex;
      width: 100%;
      padding: 0.5rem;
      box-sizing: border-box;
      border-radius: 3px;
      &:hover {
        background-color: $wroom-lighter-gray;
      }
    }
  }
}