@import 'colors';
@import 'fonts';
@import 'mixins';
@import 'scrollbars';

div#sidebar-background {
  width: 19vw;
  background-color: white;
}
div#sidebar {
  box-sizing: border-box;
  padding: 1rem;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  z-index: 300;
  background-color: white;
  height: 100%;
  overflow-y: auto;
  font-size: $font-size-80;
  overflow: hidden;
  padding-bottom: 0.5rem;
  border-right: 1px solid $wroom-gray;

  div.link-wrapper {
    width: 100%;
    font-weight: 600;
    a {
      display: flex;
      white-space: nowrap;
      width: calc(100% - 4px);
      height: 1.5rem;
      display: flex;
      align-items: center;
      padding: 0.1rem;
      border-radius: 5px;
      i, span.spacer {
        margin-left: 1.3rem;
        margin-right: 0.5rem;
      }
      &:hover {
        background-color: $wroom-primary;
        cursor: pointer;
      }
    }
    a.gpt-4-toggle {
      &.on {
        color: white;
        background-color: $wroom-green;
      }

      &.off {
        color: $wroom-dark-gray;
      }
    }
  }
  div#account-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: $font-size-60;
    margin-top: 0.5rem;

    button {
      background-color: rgba(0,0,0,0);
      border: none;
      outline: none;
      font-size: $font-size-60;

      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }
    p#current-user {
      font-weight: 200;
      width: 5rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    a.settings-link {
      margin-left: 0.7rem;
      font-size: $font-size-80;
      color: transparent;
      align-self: center;
      text-shadow: 0 0 0 $wroom-dark-gray;
      &:hover {
        text-decoration: none;
        text-shadow: 0 0 0 $wroom-primary-light;
      }
    }
  }

  div#wroom-logo {
    @include flex-center-content;
    min-height: 2rem;
    height: 0;
    margin-top: 2rem;
    margin-bottom: 1rem;
    
    svg {
      width: 8rem;
    }
  }

  div#folder-tree {
    flex-direction: column;
    width: 100%;
    flex: 1;
    display: flex;
    font-weight: 600;
    overflow-y: auto;
    overflow-x: hidden;
    @include custom-scrollbar;

    span.folder-name {
      display: block;

      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    
    div.tree-folder {
      div.folder {
        width: calc(100% - 4px);
        height: 1.5rem;
        display: flex;
        align-items: center;
        padding: 0.1rem;
        border-radius: 5px;
        a {
          display: flex;
          align-items: center;
          flex: 1;
        }
        i {
          margin-right: 0.5rem;

          &.invisible {
            color: rgba(0, 0, 0, 0);
          }
        }
        &:hover {
          background-color: $wroom-primary;
          cursor: pointer;
        }
      }
      div.children {
        display: flex;
        flex-direction: column;
        white-space: nowrap;
        padding-left: 0.7rem;
        div.folder {
          box-sizing: border-box;
        }
        div.document i {
          margin-right: 0.4rem;
          margin-left: 1.3rem;
        }
      }
    }
  }
}
