@import 'colors';
@import 'fonts';
@import 'scrollbars';

a#cancel-subscription-link {
  color: white;
  background-color: $wroom-red;
  font-size: $font-size-80;
  font-weight: 600;
  padding: 0.5rem;
  border-radius: 5px;
  margin-top: 1rem;
  white-space: nowrap;
  &:hover {
    background-color: $wroom-dark-red;
    cursor: pointer;
  }
}

div.plan {
  width: 35rem;
  background-color: $wroom-lighter-gray;
  padding: 1rem;
  border-radius: 5px;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  h4 {
    font-size: 0.8rem;
    font-weight: 800;
    margin-top: 2rem;
  }
  h5 {
    font-size: 1.4rem;
    margin: 0;
    text-align: center;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-weight: 800;
    width: 10rem;
  }
  ul {
    margin: 0;
    flex: 1;
  }

  div#cancel-wrapper {
    max-width: min-content;
  }

  .left {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15rem;
  }

  &.basic {
    h5 {
      color: $wroom-basic-color;
    }
  }

  &.pro {
    h5 {
      color: $wroom-pro-color;
    }
  }
  &.free {
    h5 {
      color: $wroom-free-color;
    }
  }
}

.upgrade-button {
  padding: 0.5rem 1rem;
  box-sizing: border-box;
  border-radius: 5px;
  font-family: $body-font;
  font-size: $font-size-80;
  text-align: center;
  width: 12rem;
  font-weight: 700;
  border: 0;
  color: white;
  &.pro {
    background-color: $wroom-pro-color;
    &:hover {
      background-color: $wroom-pro-color-secondary;
      cursor: pointer;
    }
  }
  &.basic {
    background-color: $wroom-basic-color;
    &:hover {
      background-color: $wroom-basic-color-secondary;
      cursor: pointer; 
    }
  }

}