@import 'colors';
@import 'fonts';
@import 'scrollbars';
@import 'subscriptions';

div#account-control {
  display: flex;
  height: 80vh;
  div#settings-links {
    width: 10rem;
    border-right: 1px solid $wroom-gray;
    display: flex;
    flex-direction: column;
    padding-right: 1rem;
    h4 {
      font-size: 1.5rem;
      margin: 0;
      margin-bottom: 1rem;
    }
    
    a, button {
      width: 100%;
      padding: 0.5rem;
      box-sizing: border-box;
      margin-bottom: 0.5rem;
      border-radius: 5px;
      text-align: left;
      font-family: $body-font;
      font-size: $font-size-80;
      border: 0;
      background-color: white;
      color: $wroom-dark-gray;
      &:hover {
        background-color: $wroom-gray;
      }
    }
    button {
      margin-top: 2rem;
    }
  }
  div#account-control-content {
    overflow-y: auto;
    overflow-x: hidden;
    padding-left: 1rem;
    padding-right: 1rem;
    @include custom-scrollbar;
    width: 40rem;
  }

}

div.settings-view {
  margin: 0;
  div.settings-panel {
    background-color: $wroom-gray;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background-color: white;
    margin-top: 1rem;

    h4 {
      margin-top: 2rem;
      font-size: 0.8rem;
      font-weight: 900;

    }
    div.action-needed {
      margin-bottom: 2rem;
      font-size: $font-size-80;
      padding: 3rem 5rem;
      text-align: justify;
      color: black;
      h3 {
        margin: 0 0 1rem 0;
        color: $wroom-red;
        font-size: $base-font-size;
      }

    }

    div#error_explanation {
      margin-top: 0.5rem;
      h2 {
        text-decoration: underline 1px $wroom-red;
        font-size: $font-size-70;
      }
      ul {
        padding: 0;
        list-style: none;
        font-size: $font-size-70;
      }
    }
    
    div.validation {
      color: $wroom-red;
      margin-top: 1rem;
      margin-bottom: 1rem;
    }

    div#header {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      color: $wroom-halfway-dark-gray;

      h3 {
        margin: 0;
        font-size: $font-size-90;
      }
      a {
        color: transparent;
        text-shadow: 0 0 0 $wroom-dark-gray;
        font-size: $font-size-60;
      }
    }

    form {
      margin-top: 1rem;
      input[type='text'], input[type='number'], input[type='email'], input[type='password'], textarea {
        width: 100%;
        border: 1px solid $wroom-gray;
        height: 2rem;
        padding: 0.5rem;
        box-sizing: border-box;
        border-radius: 5px;
        font-family: $body-font;

        &:focus {
          outline: none;
          border: 1px solid $wroom-primary;
        }
      }

      textarea {
        height: 10rem;
      }

      input[type='submit'] {
        font-family: $body-font;
        background-color: $wroom-dark-gray;
        color: white;
        border: none;
        font-size: $font-size-70;
        margin: 0;
        padding: 0;
      }
      
      
      input[type='file'] {
        font-family: $body-font;
        background-color: white;
        border: none;
        font-size: $font-size-70;
        margin: 0;
        padding: 0;
      }
      div.field {
        display: flex;
        flex-direction: column;
        margin-bottom: 0.5rem;

        label {
          margin-bottom: 0.1rem;
          font-size: $font-size-70;
        }
        
        i {
          font-size: $font-size-70;
        }
      }

      div.field-with-submit {
        display: flex;
        flex-direction: row;
        align-items: center;

        input[type='submit'] {
          padding-left: 0.5rem;
        }
      }

      div.password-instructions {
        font-size: $font-size-70;
        margin-bottom: 0.5rem;
      }

      div.actions {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        margin-top: 0.5rem;
        padding-right: 0.2rem;
        input {
          padding: 0.5rem;
          border-radius: 5px;
          font-size: $font-size-80;
          &:hover {
            background-color: $wroom-primary-dark;
            cursor: pointer;
          }
        }

      }
    }

  }
}

div#cancel-account {
  button {
    background-color: $wroom-red;
    color: white;
    border: none;
    font-size: $font-size-70;
    margin: 0;
    padding: 0.5rem;
    border-radius: 5px;
    &:hover {
      background-color: $wroom-dark-red;
    }
  }
}

div.referral-codes {
  form {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  input[type='text'] {
    width: 15rem;
    border: 1px solid $wroom-gray;
    height: 2rem;
    padding: 0.5rem;
    box-sizing: border-box;
    border-radius: 5px;
    font-family: $body-font;

    &:focus {
      outline: none;
      border: 1px solid $wroom-primary;
    }
  }

  input[type='submit'] {
    background-color: black;
    border: 1px solid black;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 0.7rem;
    font-weight: bold;
    padding: 0.5rem;
    margin-left: 0.5rem;
    &:hover {
      background-color: $wroom-dark-gray;
    }
  }
}