@import 'colors';

div.voices {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  h3 {
    padding: 1rem 0 0.5rem 0;
    margin: 0;
    font-size: 1rem;
  }

  a.new-voice {
    font-size: 1.2rem;
    color: $wroom-blue;
    margin-bottom: 1rem;
  }

  div.voice {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    padding: 0.5rem;
    font-size: 0.8rem;
    width: 50vw;
    background-color: white;
    margin-bottom: 0.7rem;
    border: 1px solid $wroom-light-gray;

    div.controls {
      display: flex;
      flex-direction: row;
      a, button {
        font-size: 0.7rem;
        background-color: white;
        margin: 0;
        margin-left: 1rem;
        padding: 0;
        border: none;
        color: transparent;
        text-shadow: 0 0 0 $wroom-blue;
      }

      button {
        color: transparent;
        text-shadow: 0 0 0 $wroom-red;

        transform: translate(0, -0.1rem);
      }
    }
  }
}