@import 'colors';
div#voices-manager {
  display: flex;
  flex-direction: row;
  justify-content: start;
  div.voices {
    width: 30vw;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    margin-right: 1rem;

    h3 {
      width: 100%;
      text-align: center;
    }

    a { 
      width: 100%;
    }
    div.voice {
      width: 100%;
      box-sizing: border-box;
      &:hover {
        background-color: $wroom-primary-light;
        cursor: pointer;
      }
    }
  }

  div.voice-editor {
    width: 30vw;

    form.button_to {
      margin: 0;
      display: flex;
      flex-direction: row;
      justify-content: end;
      width: 100%;
      .delete-voice {
        background-color: rgba(0,0,0,0);
        border: none;
        font-size: 0.6rem;
        padding: 0;
        color: transparent;
        text-shadow: 0 0 0 $wroom-red;
      }
    }
  }
}
div.voices {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  h3 {
    padding: 1rem 0 0.5rem 0;
    margin: 0;
    font-size: 1rem;
  }

  a.new-voice {
    font-size: 0.8em;
    color: $wroom-primary;
    margin-bottom: 1rem;
    color: #0066ff;
    background-color: white;
    padding: 1rem 1.2rem;
    border-radius: 10px;
    text-align: center;
    width: min-content;
    box-sizing: border-box;

    &:hover {
      cursor: pointer;
      background-color: #d4e5ff;
    }
  }

  div.voice {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    padding: 0.5rem;
    font-size: 0.8rem;
    width: 100%;
    background-color: white;
    margin-bottom: 0.7rem;
    border: 1px solid $wroom-light-gray;

    div.controls {
      display: flex;
      flex-direction: row;
      a, button {
        font-size: 0.7rem;
        background-color: white;
        margin: 0;
        margin-left: 1rem;
        padding: 0;
        border: none;
        color: transparent;
        text-shadow: 0 0 0 $wroom-primary;
      }

      button {
        color: transparent;
        text-shadow: 0 0 0 $wroom-red;

        transform: translate(0, -0.1rem);
      }
    }
  }
}