@import 'colors';
@import 'scrollbars';
@import 'fonts';

div#voices-manager {
  display: flex;
  flex-direction: row;
  justify-content: start;
  margin-top: 2rem;
  div.voices {
    width: 30vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 1rem;

    div.table-wrapper {
      max-height: 60vh;
      overflow-y: auto;
      @include custom-scrollbar;
    }
    table {
      table-layout: fixed;
      width: 100%;
      tr.voice {
        td {
          box-sizing: border-box;
          text-align: left;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          padding-top: 0.5rem;
          padding-bottom: 0.5rem;
          border-bottom: 1px solid $wroom-light-gray;
          i {
            margin-right: 0.5rem;
          }
          &:hover {
            color: $wroom-primary;
            cursor: pointer;
          }
        }
      }
    }
  }

  div.voice-editor {
    width: 30vw;

  }
}
div.voices {

  h3 {
    padding: 1rem 0 0.5rem 0;
    margin: 0;
    font-size: $base-font-size;
  }

  a.new-voice {
    font-size: 0.8em;
    color: $wroom-primary;
    margin-bottom: 1rem;
    color: white;
    background-color: $wroom-primary;
    border-radius: 5px;
    text-align: center;
    width: 7rem;
    padding: 0.2rem;
    font-weight: 900;

    &:hover {
      cursor: pointer;
      background-color: #d4e5ff;
    }
  }

  div.voice {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    padding: 0.5rem;
    font-size: $font-size-80;
    width: 100%;
    background-color: white;
    margin-bottom: 0.7rem;
    border: 1px solid $wroom-light-gray;

    div.controls {
      display: flex;
      flex-direction: row;
      a, button {
        font-size: $font-size-70;
        background-color: white;
        margin: 0;
        margin-left: auto;
        padding: 0;
        border: none;
        color: transparent;
        text-shadow: 0 0 0 $wroom-primary;
      }


      button {
        color: transparent;
        text-shadow: 0 0 0 $wroom-red;

        transform: translate(0, -0.1rem);
      }
    }
  }
}

i.delete-icon {
  margin-left: auto;

  &:hover {
    color: $wroom-red;
    cursor: pointer;
  }
}


form#delete-form {
  display: none;
}