@import 'colors';
@import 'mixins';

body#wroom {
  display: flex;
  font-family: 'Playfair Display', serif;
  overflow: hidden;

  button.library-link {
    border: none;
    font-family: 'Playfair Display', serif;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;
    font-size: 0.7rem;
    color: $wroom-blue;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 10px;
    &:hover {
      background-color: $wroom-light-gray;
    }
  }
  button.sign-out {
    border: none;
    font-family: 'Playfair Display', serif;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;
    font-size: 0.7rem;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 10px;
    &:hover {
      background-color: $wroom-light-gray;
    }
  }

  div#no-docs-message {
    margin-top: 4rem;
  }

  .panel {
    height: initial;
    border-left: 1px solid $wroom-light-gray;
    background-color: white;
    display: flex;
    flex-direction: column;

    &#documents-panel {
      width: 15%;
      display: flex;
      flex-direction: column;
    }
    &#document-panel {
      width: 50%;
    }

    &#no-docs-panel {
      width: -webkit-fill-available;
      height: auto;
      border-left: 1px solid $wroom-light-gray;
      padding-left: 0.5rem;

      div.message {
        margin-top: 2.6rem;
        font-size: 0.9rem;
      }
      p {
        margin-left: 47vw;
        margin-top: 37vh;
        padding-left: 0.5rem;
        border-left: 7px solid $wroom-light-gray;
        font-style: italic;
        font-weight: 100;
        color: $wroom-gray;
      }
    }
    &#conversation-panel {
      width: 20%;
    }
    &#context-panel {
      width: 15%;

      div.links {
        font-size: 0.7rem;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 0.5rem
        a {
          color: $wroom-blue;
        }
      }
    }


    div.top-pane {
      height: 2rem;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;


      a#save-as-source {
        font-size: 0.7rem;
        font-style: italic;
        color: $wroom-blue;
        width: auto;
        min-width: 6rem;
        text-align: right;

        &:hover {
          text-decoration: underline 1px $wroom-blue;
        }
      }

      form.button_to {
        margin: 0;
        padding: 0;
      }

      form {
        display: flex;
        padding-left: 1rem;
      }

      button.link {
        padding: 0;
        border: none;
        font-family: 'Playfair Display', serif;
        color: $wroom-blue;
        font-style: italic;
        background-color: rgba(0, 0, 0, 0);
        font-size: 0.7rem;
        width: 100%;
        text-align: end;
        &:hover {
          cursor: pointer;
        }
      }
    }

    div#conversation-context {
      font-size: 0.7rem;
      height: 100%;
      height: min-content;
    
      div.header {
        padding: 0.5rem;
        border-bottom: 1px solid $wroom-light-gray;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 0.7rem;
        font-weight: 500;
        text-align: center;
        
        &::not(:first-child) {
          border-top: 1px solid $wroom-light-gray;
        }

        a {
          color: $wroom-blue;
          font-size: 1rem;
          margin-right: 0.2rem;
        }
      }
      div.list {
        height: 40.5vh;
        overflow-y: auto;
        font-size: 0.7rem;
        div.list-item {
          padding: 0.5rem;
          display: flex;
          align-items: center;
          &:not(:last-child) {
            border-bottom: 1px solid $wroom-light-gray;
          }
          .checkbox {
            margin-right: 0.5rem;
          }
          a.delete {
            color: $wroom-red;
            font-size: 1rem;
            margin-left: 0.5rem;
            &:hover {
              cursor: pointer;
            }
          }

          a.edit {
            color: $wroom-blue;
            font-size: 1rem;
            margin-left: auto;
          }

          &:hover {
            background-color: $wroom-light-gray;
          }
        }
      }
    }

    div#conversation {
      height: min-content;
      background-color: white;
      max-height: 90vh;
      form#new-message-form {
        margin: 0;
        display: flex;

        textarea {
          width: -webkit-fill-available;

          border: none;
          flex-grow: 1;
          padding: 0.5rem 0 0 0.5rem;
          font-family: 'Playfair Display', serif;
          font-style: italic;
          font-size: 0.7rem;
          &::placeholder {
            color: $wroom-blue;
          }
          &:focus {
            outline: none !important;
          }
        }

        input#content {
        }

        input#submit {
          border: none;
          color: $wroom-blue;
          background-color: white;
          font-size: 1rem;
          width: 2rem;
        }
      }

      div#messages {
        border-bottom: 1px solid $wroom-light-gray;
        overflow-y: auto;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        height: 90vh;
        background-color: white;
        overflow-x: clip;

        div#initial-message {
          font-size: 0.7rem;
          text-decoration: underline 1px $wroom-blue;
          width: 100%;
          padding: 1rem;
          text-align: left;
          box-sizing: border-box;
        }

        div.conversation-status {
          display: flex;
          flex-direction: column;
          align-items: center;
          font-size: 0.7rem;
          color: $wroom-blue;
          padding: 1rem;
          div.conversation-loading-label {
            width: min-content;
            font-style: italic;
          }
        }    
  
        div.message {
          padding: 0.5rem 1rem 0 1rem;
          text-align: justify;
          font-size: 0.6rem;
          hyphens: auto;
          line-height: 0.8rem;
          width: 100%;
  
          div.main-message {
            display: flex;
            align-items: end;
            flex-direction: row;
            div.message-controls {
              padding-bottom: 0.5rem;
              form {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding-left: 0.5rem;
                padding-right: 1rem;
                
              }
              div.button-wrapper {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding-left: 0.5rem;
                padding-right: 1rem;
                padding-bottom: 0.5rem;
              };

              button {
                height: 1rem;
                width: 1rem;
                font-size: 1rem;
                background-color: white;
                color: $wroom-red;
                border: none;
                margin: 0;
                content: 'asdasd';
                &.copy {
                  color: $wroom-blue;
                }
              }
            }
            div.main-message-content {
              display: flex;
              align-items: center;
              flex-direction: column;
              p {
                width: 100%;
              }
              details {
                width: 100%;
                summary {
                  width: 100%;
                }
              }
            }
            form {
              margin: 0 0 0 0;
            }
          }
  
          &.user {
            div.main-message {
              text-align: right;
              font-style: italic;
              justify-content: space-between;
              border-bottom: 1px solid rgb(220, 220, 220);

              &:last-child {
                border-bottom: none;
              }
            }
          }
          div.main-message {  
            button {
              margin-right: 0.5rem;
            }
            padding-right: 1rem;
          }
  
          &.error {
            text-decoration: underline 1px $wroom-red;
            div.main-message {  
            }
          }
  
          .content {
            width: 100%;
          }
        }
      }
    }

    div#edit-document {
      height: -webkit-fill-available;
      padding: 0;


      trix-toolbar {
        margin-top: 0.5rem;
        padding: 0;

        .tool-button-row {
          height: fit-content;
        }

        .trix-button--icon {
          width: 1.4rem !important;
          height: 1rem !important;
        }
      }

      trix-editor {
        height: 75.9vh;
        font-size: 0.7rem;
        overflow-y: auto;
        background-color: white;
        padding-right: 1rem;
        border: none;
        text-align: justify;
        line-height: 1.4rem;
      }
      form#edit-document {
        margin-top:3rem;
        padding: 0 3vw;

        input#document_title {
          width: -webkit-fill-available;
          margin-right: 1rem;
          font-family: 'Playfair Display', serif;
          font-size: 1rem;
          font-weight: 500;
          background-color: white;
          border: none;
          box-sizing: content-box;
          &:focus {
            outline: none;
          }
        }

      }

      button.link {
        padding: 1.4rem;
        // padding-right: 1rem;
        border: none;

        font-family: 'Playfair Display', serif;
        color: $wroom-blue;
        font-style: italic;
        background-color: rgba(0, 0, 0, 0);
        font-size: 0.7rem;
        width: 100%;
        text-align: end;
        &:hover {
          cursor: pointer;
        }
      }
    }

    .panel-element {
      width: -webkit-fill-available;
      min-height: 1rem;
      background-color: white;
      &#document {
        display: flex;
        flex-direction: row;
        div#editor {
          width: 44rem;
          display: flex;
          flex-direction: column;

        }
      }
      


      form {
        background-color: white;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 0.5rem;
        width: -webkit-fill-available;
        
        input {
          font-family: 'Playfair Display', serif;
          font-style: italic;
          width: 60%;
          border: none;
          padding: 0;
          height: -webkit-fill-available;
          font-size: 0.7rem;
          width: 100%;

          &::placeholder {
            color: $wroom-blue;
          }
          &:focus {
            outline: none;
          }

          &[type='submit'] {
            background-color: white;
            color: $wroom-blue;
            font-weight: 300;
            font-size: 1rem;
            width: min-content;
          }
        }

        &#new-document {
          input#document_title {
            font-weight: 300;
            &::placeholder {
              font-weight: 100;
            }
          }
        }

        &#edit-document-form {
          display: flex;
          flex-direction: column;
          
        }
      }


      ul {
        margin: 0;
        padding-inline: 0;
        background-color: white;
        overflow-y: auto;
        height: 85vh;
        li {
          list-style: none;
          display: flex;
          justify-content: space-between;
          padding: 0.5rem 0.5rem 0.5rem 0.5rem;
          width: -webkit-fill-available;
          font-size: 0.9rem;
          background-color: white;
          height: fit-content;
          border-bottom: 1px solid $wroom-light-gray;
          &:first-child {
            border-top: 1px solid $wroom-light-gray;
          }
          a {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            font-size: 0.7rem;
          }

          &:hover {
            background-color: $wroom-light-gray;
          }
          
  

    
        }

        &#documents-list {

          li {
            min-height: 2rem;
            a {
              display: flex;
              justify-content: space-between;
              width: -webkit-fill-available;
            }
            div.controls {
              display: flex;
              align-items: center;
              
              form.button_to {
                padding: 0;
              }
              form.delete-document {
                background-color: rgba(0,0,0,0) !important;
                margin-left: 1rem;
              }
              button.delete-document {
                background-color: rgba(0,0,0,0) !important;
                border: none;     
                color: $wroom-red;
                font-size: 1rem;
                font-family: 'Playfair Display', serif;
                font-weight: 300;
                padding: 0;
              }
            }
          }
        }
      }
    }
  }

  div#wroom-logo {
    @include flex-center-content;
    display: flex;
    background-color: white;
    height: 2rem;
    border-bottom: 1px solid $wroom-light-gray;

    div {
      span#wroom {
        font-family: 'MuseoModerno';
        font-weight: 900;
        font-size: 1rem;
        text-decoration: underline 2px $wroom-blue;
      }
      span#ai {
        font-family: 'MuseoModerno';
        font-weight: 400;
        font-size: 0.8rem;
        text-decoration: none;
        color: $wroom-red;
      }
    }
  }
}

