@import 'colors';
@import 'fonts';
@import 'mixins';

@import 'conversation_hourglass';
@import 'actiontext.css';
@import 'documents';
@import 'conversation';
@import 'source';
@import 'document_editor';
@import 'context';
@import 'new_button';

@-webkit-keyframes fontfix {
  from { opacity: 1; }
  to   { opacity: 1; }
}

body#wroom {
  color: $wroom-dark-gray;
  background-color: $wroom-primary;
  padding: 1rem;

  display: flex;
  font-family: $body-font;
  overflow: hidden;
  padding: 0;




  div#no-docs-message {
    margin-top: 4rem;
  }
  div#collapse-button {
    position: absolute;
    bottom: 0;
    padding: 0.5rem;
    padding-left: 0;
    &:hover {
      cursor: pointer;
    }
  }

  div#document-editor-background {
    color: $wroom-primary;
    width: 81vw;
    height: 100vh;
  }
  div#document-editor {
    background-color: white;
    display: flex;
    height: 100vh;
    border-top-left-radius: 30px;
    display: flex;
    align-items: center;
    .panel:not(:first-child) {
      margin-left: 1rem;
    }
    .panel {
      display: flex;
      flex-direction: column;
      height: 90vh;
      &#document-panel {
        width: 40.5vw;
        box-sizing: border-box;
        border-right: 1px solid $wroom-light-gray;

      }
      &#conversation-panel {
        // height: 100%;
        width: 40.5vw;
        padding: 1rem 1rem 1rem 0;
      }
    }
  }


  div#wroom-logo {
    @include flex-center-content;
    min-height: 2rem;
    height: 0;
    margin-bottom: 2rem;
    
    div {
      border-radius: 10px;
      background: none;
      width: 1px;
      text-align: center;
      margin-top: 1.6rem;
      height: 1px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      span#wroom {
        font-family: $logo-font;
    
        font-weight: $app-logo-weight;
        font-size: $app-logo-size;
        color: white;
        span.oo {
          color: $wroom-logo-secondary;
        }
      }
    }
  }
}




@keyframes select {
  to {
    -webkit-user-select: text;
    user-select: text;
  }
}