/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&family=MuseoModerno:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$wroom-blue: rgb(0, 102, 255);
$wroom-baby-blue: rgb(212, 229, 255);
$wroom-red: red;

html {
  height: 100%;
  width: 100%;
}



.turbo-progress-bar {
  height: 3rem;
  z-index: -500;
  bottom: 0;
  background: $wroom-baby-blue
}

div#logo {
  padding: 1rem;
  span#wroom {
    font-family: 'MuseoModerno';
    font-weight: 900;
    font-size: 1.1rem;
    text-decoration: underline 2px $wroom-blue;
  }
  span#ai {
    font-family: 'MuseoModerno';
    font-weight: 400;
    font-size: 0.9rem;
    text-decoration: none;
    color: $wroom-red;
  }
}

 body {
  font-family: 'Playfair Display', serif;
  height: 100%;
  padding: 0;
  margin: 0;

  div#alerts {
    position: absolute;
    right: 1rem;
    // background-color: $wroom-red;
    p {
      margin: 0;
      padding: 0.5rem;
      color: black;
      font-size: 0.9rem;
      font-family: 'Playfair Display', serif;
      font-style: italic;
      font-weight: 300;
      width: 15rem;
      text-align: right;
      &.notice {
        text-decoration: underline 1px rgb(0, 212, 142);
      }
      &.alert {
        text-decoration: underline 2px $wroom-red;
      }

    }
  }
}
a {
  text-decoration: none;
  color: black;
}
button:hover {
  cursor: pointer;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgb(226, 226, 226);
  height: 3rem;

  nav {
    display: flex;
    font-size: 0.9rem;
    margin-right: 1rem;
    a {
      margin-right: 1rem;
      &:hover {
        text-decoration: underline 1px $wroom-blue;
      }
    }
    button {
      color: $wroom-red;
      background-color: rgba(0, 0, 0, 0);
      font-family: 'Playfair Display', serif;
      border: none;
      &:hover {
        text-decoration: underline 1px $wroom-red;
      }
      padding: 0;
    }
  }
}
main {
  padding: 0;
  width: 100%;
  height: 100%;
  
  div#view-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    h1 {
      font-weight: 500;
      font-size: 1.2rem;
      margin: 0;
      max-width: 29rem;
      text-align: center;
    }
  
    a {
      font-size: 0.9rem;
      font-family: 'Playfair Display', serif;
      font-style: italic;
      color: $wroom-blue;
      font-weight: 300;
      border-top: 1px solid $wroom-blue;
      line-height: 0.7rem;
      border-bottom: 1px solid $wroom-blue;
      margin-top: 0.5rem;
      padding: 0.2rem;
    }
  }



  div#view-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    div#index-list {
      width: 30rem;
      display: flex;
      flex-direction: column;
      margin-top: 1rem;
      padding-left: 1rem;
      padding-right: 1rem;
  
      div#index-separator {
        font-size: 0.9rem;
        margin-bottom: 0.5rem;
        margin-top: 1rem;
        font-style: italic;
      }
  
      div#index-list-item {
        padding: 0.5rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        border: 1px solid gray;
        font-size: 0.9rem;
        margin-bottom: 0.5rem;
        
        &:hover {
          border: 1px solid $wroom-blue;
        }
  
        button {
          background-color: white;
          border: none;     
          color: $wroom-red;
          font-size: 0.6rem;
          font-family: 'Playfair Display', serif;
          font-style: italic;
          font-weight: 300;
        }
      }
    }




    div.chunking-status-notice {
      display: flex;
      flex-direction: column;
      align-items: center;
      p {
        margin: 0;
        text-align: center;
        color: $wroom-blue;
        font-size: 0.8rem;
      }
    }

    div.record-form {
      width: 50rem;
      div.validation {
        margin-top: 1rem;
        text-align: center;
        font-size: 0.9rem;
        font-style: italic;
        div.message {
          font-weight: 300;
          text-decoration: underline 2px $wroom-red;

        }
        div.errors {
          margin-top: 0.5rem;
          div.error {
            span.bullet {
              color: $wroom-red;
            }
          }
        }
      }
      div.field {
        padding-top: 0.5rem;
        input, select {
          width: 100%;
          box-sizing: border-box;
          font-family: 'Playfair Display', serif;
          font-size: 0.9rem;
          padding: 0.5rem;
        }
        input#document_file {
          input#file-upload-button {
            margin-right: 1rem;
          }
        }
      }

      div.checkbox-field {
        margin-top: 1.4rem;
        label {
          margin-bottom: 0.3rem;

        }
        div.item {
          display: flex;
          align-items: center;
          padding: 0.3rem;
          input {
            margin: 0 0.7rem 0 0;
          }
        }
      }

      label, em {
        font-size: 0.9rem;
        font-style: italic;
      }
    
      div.actions {
        padding: 0.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 1rem;
        input {
          font-size: 0.9rem;
          font-family: 'Playfair Display', serif;
          font-style: italic;
          color: $wroom-blue;
          font-weight: 300;
          border-top: 1px solid $wroom-blue;
          // line-height: 0.rem;
          border-bottom: 1px solid $wroom-blue;
          border-left: none;
          border-right: none;
          background-color: white;
        }
      }
    }
  }

  div#conversation-documents {
    text-align: right;
    max-width: 50rem;
    margin-bottom: 1rem;

    div#conversation-documents-header {
      text-decoration: underline;
      margin-bottom: 0.3rem;
      font-size: 0.9rem;
    }
    div.conversation-document {
      font-size: 0.9rem;
      font-style: italic;
      a:hover {
        text-decoration: underline 1px $wroom-blue;
      }
      span.bullet {
        color: $wroom-blue
      }
    }
  }
  div#conversation {
    padding: 0 3rem 3rem 3rem;
    max-height: 100vh;

    margin: 1rem auto 1rem auto;
    max-width: 50rem;
    div#messages {
      padding: 1rem;
      border: 1px solid gray;
      border-radius: 10px;
      overflow-y: scroll;
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      height: 61vh;

      div.message {
        padding: 0.5rem 0 0.5rem 0;
        text-align: justify;
        font-size: 0.9rem;
        line-height: 1.5rem;
        width: 100%;

        &.user {
          text-align: right;
          font-style: italic;
        }

        &.error {
          text-decoration: underline 1px $wroom-red;
        }

        .content {
          width: 100%;
        }
      }
    }

    @keyframes linearGradientMove {
      100% {
          background-position: 1px 0, -1px 100%, 0 -1px, 100% 1px;
      }
  } 
    form {
      margin: 1rem auto 1rem auto;
      max-width: 50rem;
      display: flex;
      input#content {
        flex-grow: 1;
        margin-right: 0.5rem;
        border: 1px solid $wroom-blue;
        border-radius: 5px;
        padding: 0.5rem;
        font-family: 'Playfair Display', serif;
        
      }

      input#submit {
        border: 1px solid $wroom-blue;
        border-radius: 5px;

        color: $wroom-blue;
        background-color: white;
        font-size: 1.1rem;
        width: 2rem;
      }
    }
  }
}

div.show-record {
  padding: 0 1rem 0 1rem;
  width: 50rem;
  div.record-info {
    width: 100%;
    label {
      font-weight: 600;
    }
  }
  div.chunk {
    width: 50rem;
    text-align: justify;
    line-height: 1.2rem;
    font-size: 0.7rem;
    details summary {
      font-size: 1.1rem;
    }
    margin-bottom: 1rem;
  }
}

div#devise {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  
  div.ui-box {
    width: 15rem;
  }
  
  div.field {
    padding-top: 0.5rem;
    input {
      width: 100%;
      box-sizing: border-box;
      font-family: 'Playfair Display', serif;
      font-size: 0.9rem;
      padding: 0.5rem;
    }
  }
  label, em {
    font-size: 0.7rem;
    font-style: italic;
  }

  div.actions {
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    input {
      font-size: 0.9rem;
      font-family: 'Playfair Display', serif;
      font-style: italic;
      color: $wroom-blue;
      font-weight: 300;
      border-top: 1px solid $wroom-blue;
      // line-height: 0.rem;
      border-bottom: 1px solid $wroom-blue;
      border-left: none;
      border-right: none;
      background-color: white;
    }
  }

  div.shared-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    a {
      font-size: 0.7rem;
      margin-top: 0.5rem;
      &:hover {
        text-decoration: underline 1px $wroom-blue;
      }
    }
  }

  div.remember-me-field {
    display: flex;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    input { 
      margin: 0 0.3rem 0 0;
    }
    label {
      font-style: normal;
      font-size: 0.7rem;
    }
  }

  div#logo {
    text-align: center;
    padding: 0;
    span#wroom {
      font-size: 2rem;
    }
    span#ai {
      font-size: 1.3rem;
    }
  }

  &.reset-password {

  }
}

.lds-hourglass {
  display: inline-block;
  position: relative;
  width: 34px;
  height: 34px;
}
.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 8px;
  box-sizing: border-box;
  border: 10px solid $wroom-blue;
  border-color: $wroom-blue transparent $wroom-blue transparent;
  animation: lds-hourglass 1.2s infinite;
}
@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}


.conversation-hourglass {
  display: inline-block;
  position: relative;
  width: 34px;
  height: 34px;
}
.conversation-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 8px;
  box-sizing: border-box;
  border: 10px solid $wroom-baby-blue;
  border-color: $wroom-baby-blue transparent $wroom-baby-blue transparent;
  animation: conversation-hourglass 1.2s infinite;
}
@keyframes conversation-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}
div.conversation-status {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.7rem;
  color: $wroom-blue;
  div.conversation-loading-label {
    width: min-content;
    font-style: italic;
  }
}    

@media only screen and (max-width: 1000px) {
  main div#view-content div#index-list {
    width: 95%;
  }

  main div#view-content div.record-form {
    width: 95%;
  }

  div.show-record {
    width: 95%;

    div.chunk {
      width: 100%;
    }
  }

  main div#conversation {
    padding: 0 0.5rem 0.5rem 0.5rem;
  }

  header nav {
    font-size: 0.7rem;
    button {
      font-size: 0.7rem;  
    }
    .link-wrapper {
      display: flex;
      align-items: center;
    }
    a {
      margin-right: 0.6rem;
      height: fit-content;
    }
  }

  body div#alerts p.alert {
    max-width: 6rem;
    font-size: 1rem;
  }
}
@media only screen and (max-width: 550px) {
  body div#alerts {
    display: none;
  }
}

@media only screen and (max-height: 500px) {
  main div#conversation div#messages {
    height: 44vh;
  }

  main div#conversation {
    max-width: 72rem;
  }

  main div#conversation form {
    max-width: 72rem;
  }
}

@media only screen and (max-width: 340px) {
  body {
    display: none;
  }
}
