<script>
  function closeFlashMessage() {
    document.getElementById('flash-message').style.display = 'none';
  }
</script>
<div class='flash-message' id='flash-message'>
  <span class='close-icon' onclick='closeFlashMessage()'>❌</span>

  The document has been updated successfully.
</div>