<header>
  <%= link_to root_path do %>
    <div id='left-aligned'>
      <p id='current-user'>Back to</p>
      <span id='wroom'>WROOM</span>
    </div>
  <% end %>
  <nav>
    <% if can? :manage, User %>
      <div class="link-wrapper">
        <%= link_to "Monitoring", monitoring_path %>
      </div>
      <div class="link-wrapper">
        <%= link_to "Users", users_path %>
      </div>
    <% end %>
  </nav>
</header>
